<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118312898892-c1iltcq6fm88606k26mmufev6p0tevrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118312898892-c1iltcq6fm88606k26mmufev6p0tevrg</string>
	<key>API_KEY</key>
	<string>AIzaSyCgTGLviHOGYlPqxOrIlUbf_rsqq9efrnE</string>
	<key>GCM_SENDER_ID</key>
	<string>118312898892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beybicoAdmin</string>
	<key>PROJECT_ID</key>
	<string>metronom-ecommerce-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>metronom-ecommerce-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118312898892:ios:ecf9061ff99cc522303fe9</string>
</dict>
</plist>